.text-input {
    border: 2px solid $blue;
    color: gray;
    font-size: $font-size-large;
    font-weight: 600;
    height: 6rem;
    padding: $l-size;
    
}
.select {
    @extend .text-input;
    padding: $m-size;
}
.textarea {
    @extend .text-input; 
    height: 20rem;
    overflow-y: scroll;
    resize: none;
}