//Colors
$black: black;
$blue: rgba(32, 43, 146, 0.397);
$chocolate: chocolate;
$crimson: crimson;
$darkblue: rgb(89, 89, 151);
$darker-white: antiquewhite;
$d-blue: darkblue;
$l-green: lightgreen;
$m-green: green;
$d-green: darkgreen;
$l-gray: #888;
$m-gray: #555;
$d-gray: #333;
$skyblue: skyblue;
$royalblue: royalblue;
$white: white;

//Font size
$font-size-medium: 1.4rem;
$font-size-large: 1.8rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem; //1rem=16px
$l-size: 2.2rem;
$xl-size: 4.8rem;
$xxl-size: 7rem; 
$desktop-breakpoint: 45rem; 